[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "deps/RtspRestreamServer"]
	path = deps/RtspRestreamServer
	url = https://github.com/RSATom/RtspRestreamServer.git
[submodule "deps/NetworkCore"]
	path = deps/NetworkCore
	url = https://github.com/RSATom/NetworkCore.git
