server: {
    host: "ipcambox.webchimera.org"
    certificate: "ipcambox.certificate"
    key: "ipcambox.key"
}

devices: (
    {
        id: "device1"
        certificate:
            "-----BEGIN CERTIFICATE-----\n"
            "MIIE9zCCAt+gAwIBAgIJAJ7ZWHToXUV9MA0GCSqGSIb3DQEBCwUAMBIxEDAOBgNV"
            "BAMMB2RldmljZTEwHhcNMTgwMzA0MDQzMDMwWhcNMjgwMzAxMDQzMDMwWjASMRAw"
            "DgYDVQQDDAdkZXZpY2UxMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA"
            "0UCNYKq4kQ3mGn6z7n97YBKy4SOKcO1XAPUc9IRu5ujmuXkDnavgxc4+qdmxoUvS"
            "Hn96C7ISZSWKudZKkzX7YQQE3GmqkLTSyqRa3bATEpnIWJryVLysOaKyEz32cE0h"
            "7PNQILoF9NB7imBBw0H/JOiQk3xzAuzerI4peRWLwS7SbW0zqFDkpZ5i3DkhiDLq"
            "h6uOUIGsgWyPADNUkhoNNpMeGOGXXkk1yHHbY1opcjhRzpnqJIWnrLf//KRuFW8r"
            "3+ihPc/2m8rfkx35bAA+7SVdYaOG9r15zarx5a3GRAelMaq0OOpcDqYVgmL3GMU2"
            "39agS46NMvCSh26nkbfI9h69wD5V/u6jTjdn/NxzsBEc0rNmZuGnpJYmxMZ6iWEp"
            "d3vj9JawjBkBrxDONEz5dEvOXpCEDE06TlHTdpI+b+rDWxm01KFvaU9T5gS/pT8O"
            "Th26lw0kTM7Hev1lWY8wcIR401vtJV8QKnVoK48Kpi4B7RxAK+tCRVpGJ5biOn+m"
            "QZZYYIeZMbUMsQinEB4Xq+oSPCd0xENHk8vLoxSZq9T6SSC7g3x6KwLBuXW7ogmg"
            "yts4uz8yPClQaXv8RIo4/KsfYGOMj4A3z3D/FSMXdm3V+aTJDW0w7nb4/B6l6Aqv"
            "Uxb4IO23WJTK1Ekz6yNL1xHM37kcUjOPmCO3Xjl1ylECAwEAAaNQME4wHQYDVR0O"
            "BBYEFJJaQJ608gOLtXOdviqtqI+ykdQlMB8GA1UdIwQYMBaAFJJaQJ608gOLtXOd"
            "viqtqI+ykdQlMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAChyv5wi"
            "wR6Ias9Mbnfw79CKJibZNdZZsyOa9SHzeJ8ujbyUG0dGA2M2HH2M55wjaiMoyC6v"
            "Gk+1/DwYrZ57o//rUpHju7+VxbBrtvh5iLXhDub4KpVdkN/Sbh5DdAn7uULcc42M"
            "H5CrxB9Ap48CIAS/tERVLJDtBKYdohNFJUgrL/TWnbuNRih8ueai340T6emfE7Gi"
            "Q3jz5YZTcEn2XqihIcHuIb6VglozTaium+eqiXkY73/79YKlguhbusbO2aArIuPK"
            "4GwgW3oq/hoY4VIF6NQDm2d6oNPNCK7wCTxakJ9KXOxxH1FLgbbOSK8MWER2Tfws"
            "csfK1xLjbVfQvZTNWjQhgEt9jNSY913Z34KC8Cus3bOgKrAzM3Nsrcel1EoAn3Vq"
            "T/vF2HdxjumMlvE0uQ+/5giW+3fGkuQOmA84X6WRuEzWUIbScARgGkc9ze2W7z//"
            "m104gyd085ELCp1KdVuP1Ta29lyqzfQYI/UsYkGF1jl6xbW7dTLExQJALpGMWwFI"
            "hIa+btLtdDZ6kq8D2XdqS8LbXPdBmZQwx8P4RU1cwNsS69NmxccuiPQXxGXUgG//"
            "wgJJT6khcsTU/V2qLgjUTjZUNe3ZssajIXyVKcilkwzJ6S5Br6q/OARF53fDFjKD"
            "3jmAiJ87F87ydLmQsOW+FEbzkNhI72xY7oqx\n"
            "-----END CERTIFICATE-----\n"
        sources: (
            {
                id: "bars"
                uri: "rtsp://localhost:8090/bars"
            },
            {
                id: "dlink931"
                uri: "http://172.27.39.11/h264.flv"
            }
        )
    }
)

users: (
    {
        login: "" //anonymous
        sources: (
            {
                device: "device1"
                source: "bars"
            },
            {
                device: "device1"
                source: "dlink931"
            }
        )
    }
)
